<!-- <!DOCTYPE html>
<html lang="es"> -->

<body class="body-admin">
  <!-- <ion-icon id="cloude" name="menu-outline"></ion-icon>
  <ion-icon name="close-outline"></ion-icon>
  <div class="barra-lateral mini-barra-lateral">
    <div class="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <span>Menu</span>
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div> -->


    <!--  -->

    <div class="admin-contend">
        <h1 class="text-center">Lista de productos</h1>
        <a href="/products/nuevoProducto" class="btn btn-primary col-2 my-3">Añadir productos</a>
        <table class="table table-hover ListaProductos">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Imagen</th>
                <th scope="col">Titulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Stock</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(p =>{ %>
              <tr>
                <th scope="row"><%= p.id %></th>
                <td><img class="img-monitor" src="/images/<%= p.image %>" alt=""></td>
                <td><%= p.title %></td>
                <td><%= p.price %></td>
                <td><%= p.description %></td>
                <td><%= p.stock %></td>
                <td>
                  <div class="btn-group">
                    <a href="/products/editarProducto/<%= p.id %>" class="btn btn-success" aria-current="page">Actualizar</a>
                    <a href="#" class="btn btn-primary">Informacion</a>
                    <a href="/products/editarProducto/<%= p.id %>" class="btn btn-danger">Eliminar</a>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
    </div>

    

</body>

