<!DOCTYPE html>
<html lang="es">
<%-include ("./partials/head")%>
<body>
<%-include ("./partials/header")%>
    <main class="main-home">
        <ul class="ul-main" type="none">
            <li class="li-main"><a href="/productos"><img class="anun-1" src="/images/netbook.jpg" alt=""></a></li>
            <li class="li-main"><a href="/productos"><img class="anun-1" src="/images/monitor.jpg" alt=""></a></li>
            <li class="li-main"><a href="/productos"><img class="anun-1" src="/images/tarjeta.png" alt=""></a></li>
            <li class="li-main"><a href="/productos"><img class="anun-1" src="/images/tarjeta1.jpeg" alt=""></a></li>
        </ul>
            <img class="anuncio" src="/images/anuncio.jpg" alt="">
            <ul class="ul-marcas" type="none">
                <li class="marcas"><a class="img-marcas" href="/productos"><img class="img" src="/images/ryzen.jpg" alt=""></a></li>
                <li class="marcas"><a class="img-marcas" href="/productos"><img class="img" src="/images/nvidia.png" alt=""></a></li>
                <li class="marcas"><a class="img-marcas" href="/productos"><img class="img" src="/images/logitech.webp" alt=""></a></li>
                <li class="marcas"><a class="img-marcas" href="/productos"><img class="img" src="/images/intel.jpg" alt=""></a></li>
            </ul>
            <ul class="ul2-main" type="none">
                <li class="li2-main"><a href="/productos"><img class="anun-2" src="/images/netbook.jpg" alt=""></a></li>
                <li class="li2-main"><a href="/productos"><img class="anun-2" src="/images/monitor.jpg" alt=""></a></li>
                <li class="li2-main"><a href="/productos"><img class="anun-2" src="/images/tarjeta1.jpeg" alt=""></a></li>
                <li class="li2-main"><a href="/productos"><img class="anun-2" src="/images/grafica.jpeg" alt=""></a></li>
            </ul>

        <!-- PRODUCTOS -->
        <div class="productos">
<% dataBase.forEach(p => { %>
    <section class="seccion">
        <a href="/productos/detalle/<%=p.id%>"><img class="img-seccion" src="/images/<%=p.image %>" alt=""></a>
        <div class="descripcion">
            <p class="categoria"><%=p.categoria %></p>
            <P class="producto"><%=p.description %></P>
            <p class="precio">$<%=p.price %></p>
        </div>
    </section>
<% }) %>
        <!-- SECCION 1 -->
        <!--  
        <section class="seccion">
            <a href="/productos"><img class="img-seccion" src="/images/tarjeta1.jpeg" alt=""></a>
            <div>
                <p class="categoria">Nuevo | + 50 vendidos</p>
                <P class="producto">Motherboard Am4 B450m Ds3h Tarjeta Madre Gigabyte Amd Ddr4</P>
                <p class="precio">$300.089</p>
            </div>
        </section>
        
        <section class="seccion">
            <a href="/productos"><img class="img-seccion" src="/images/netbook.jpg" alt=""></a>
            <div>
                <p class="categoria">Nuevo | + 50 vendidos</p>
                <P class="producto">Notebook 14'' Daewoo 64gb Ssd + 4gb - Windows 10 Dn14gr3002</P>
                <p class="precio">$344.999</p>
            </div>
        </section>
        -->
    </div>
    </main>
    <%-include("./partials/footer")%>
    </body>
</html>